<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Destination Info!</title>
      <link rel = "stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <a href = '/travels'>Home</a>
    <a href = '/logout' >Logout</a>
    <div id = 'information'>
      <h1>{{destination.destination}}</h1>
      <p>Planned by: {{destination.going_on}}
      <p>Travel Date From: {{destination.travel_start}}
      <p>Travel Date To: {{destination.travel_end}}
    </div>
    <h2>Other Users Going:<h2>
  </body>
</html>
