<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Plan a Trip!</title>
      <link rel = "stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
      <a href = '/travels'>Home</a>
      <a href = '/logout' >Logout</a>
      <p><h1>Add a Trip!</h1></p>
      <form action = '/create_trip' method = 'post'>
        {% csrf_token %}
        <div>
          <label>Destination:</label>
          <input type = "text" name = "destination">
        </div>
        <div>
          <label>Description:</label>
          <input type = "text" name = "description">
        </div>
        <div>
          <label>Travel Start Date</label>
          <input type = "date" name = "travel_start">
        </div>
        <div>
          <label>Travel End Date</label>
          <input type = "date" name = "travel_end">
        </div>
        <input type = "submit" value = "Add Trip">
      </form>
  </body>
</html>
